@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  font-family: Montserrat;
}
.home .container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.home .logo {
  background-image: url(../images/top-bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.home .logo .logo_box {
  padding: 300px 0;
  color: #fff;
}
.home .logo .logo_box h1 {
  color: var(--White, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
  max-width: 588px;
}
.home .logo .logo_box p {
  color: var(--White, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.1px;
  max-width: 588px;
  margin: 16px 0 24px 0;
}
.home .card {
  background: #f2f3f7;
}
.home .card .card_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .card .card_box h1 {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
  margin-top: 70px;
}
.home .card .card_box .card-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 145px;
}
.home .card .card_box .card-1 .card-1-1 {
  width: 294px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Tecxt-white, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.home .card .card_box .card-1 .card-1-1 img {
  margin: 26px 0 45px 0;
}
.home .still {
  background: #f2f3f7;
}
.home .still .still_box h1 {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
  padding-top: 80px;
  padding-bottom: 32px;
}
.home .still .still_box .still-1 {
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.home .still .still_box .still-1 .still-1-1 {
  width: 264px;
  height: 522px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 98px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.home .still .still_box .still-1 .still-1-1 h3 {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* BUTTON */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  max-width: 245px;
}
.home .still .still_box .still-1 .still-1-1 p {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.4px;
  max-width: 240px;
}
.home .still .still_box .still-1 .still-1-1 .still-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .still .still_box .still-1 .still-1-1 .still-child span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.home .still .still_box .still-1 .still-1-1 button {
  display: flex;
  width: 238px;
  padding: 8px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  background: var(--Gold, #ffc000);
  border: none;
  color: var(--Black, #000);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.home .bot {
  background: #f2f3f7;
}
.home .bot .bot_box {
  padding-bottom: 245px;
}
.home .bot .bot_box h1 {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
}
.home .bot .bot_box .bot-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  gap: 35px;
}
.home .bot .bot_box .bot-1 .bot-1-1 {
  display: none;
}
.home .bot .bot_box .bot-1 .bot-1-1 p {
  display: none;
}
.home .bot .bot_box .bot-1 .bot-1-1:hover p {
  width: 264px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 0px 0px 8px 8px;
  background: var(--Black, #0d0d0d);
  color: #ffc000;
}
.home .phone {
  background: #0c0926;
}
.home .phone .phone_box {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.home .phone .phone_box .phone-1 img {
  margin-top: -230px;
}
.home .phone .phone_box .phone-2 .phone-2-child {
  display: flex;
  gap: 30px;
  margin-bottom: 56px;
}
.home .phone .phone_box .phone-2 h2 {
  color: var(--White, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
  max-width: 754px;
  margin-top: 40px;
}
.home .phone .phone_box .phone-2 p {
  color: var(--White, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
  max-width: 738px;
  margin: 24px 0 40px 0;
}
.home .cloth .cloth_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
.home .cloth .cloth_box .cloth-1 {
  width: 50%;
}
.home .cloth .cloth_box .cloth-1 img {
  width: 100%;
}
.home .cloth .cloth_box .cloth-2 {
  width: 50%;
}
.home .cloth .cloth_box .cloth-2 h2 {
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
  max-width: 556px;
}
.home .cloth .cloth_box .cloth-2 p {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
  max-width: 558px;
  margin: 24px 0;
}
.home .cloth .cloth_box .cloth-2 button {
  display: flex;
  width: 200px;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  background: var(--Gold, #ffc000);
  border: none;
  color: var(--Black, #000);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.home .inter {
  background: #ffc000;
  margin-top: -4px;
}
.home .inter .inter_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 173px 0;
  flex-wrap: wrap;
}
.home .inter .inter_box h1 {
  color: var(--Black, #0d0d0d);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
  max-width: 666px;
}
.home .inter .inter_box h1 span {
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
@media (max-width: 1214px) {
  .home .card-1 {
    display: flex;
    gap: 50px !important;
  }
}
@media (max-width: 1055px) {
  .home .cloth .cloth_box {
    align-items: flex-start;
    gap: 0;
    flex-wrap: wrap;
  }
  .home .cloth .cloth_box .cloth-1 {
    width: 100%;
  }
  .home .cloth .cloth_box .cloth-2 {
    width: 100%;
  }
  .home .cloth .cloth_box .cloth-2 button {
    margin: 0 0 20px 0;
  }
}

.about h1 {
  color: bisque;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  outline: none;
}

.container {
  max-width: 1151px;
  padding: 0 20px;
  margin: 0 auto;
}

.prodact .hero {
  margin-bottom: 64px;
}
.prodact .hero .hero-style .hero-text {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 80px;
  line-height: 140%;
  letter-spacing: 0.25px;
}
.prodact .hero .hero-style .hero-contents {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
.prodact .hero .hero-style .hero-contents .hero-box .hero-prices {
  width: 460px;
  flex-shrink: 0;
  margin-bottom: 48px;
  background: #ffc000;
  padding: 16px;
}
.prodact .hero .hero-style .hero-contents .hero-box .hero-prices .hero-price {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.prodact .hero .hero-style .hero-contents .hero-box .hero-prices .hero-price:nth-child(1) {
  margin-bottom: 25px;
}
.prodact .hero .hero-style .hero-contents .hero-box .hero-prices .hero-price .hero-text2 {
  color: #0d0d0d;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.prodact .hero .hero-style .hero-contents .hero-box .hero-images {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 48px;
}
.prodact .hero .hero-style .hero-contents .hero-content input {
  width: 558px;
  height: 59px;
  margin-bottom: 24px;
  border: none;
  flex-shrink: 0;
  background: #f1f1f1;
  padding-left: 16px;
}
.prodact .order {
  margin-bottom: 64px;
}
.prodact .order .order-style .order-text {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 34px;
  margin-bottom: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
}
.prodact .order .order-style .order-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.prodact .order .order-style .order-cards .order-card {
  display: flex;
  align-items: center;
  gap: 30px;
}
.prodact .order .order-style .order-cards .order-card .order-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
}
.prodact .order .order-style .order-cards .order-card .order-box .order-text2 {
  color: #040921;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}
.prodact .order .order-style .order-cards .order-card .star {
  margin-bottom: 8px;
}
.prodact .order .order-style .order-cards .order-card .order-par {
  max-width: 754px;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 35px;
  letter-spacing: 0.25px;
}
.prodact .order .order-style .order-cards .order-card .order-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prodact .order .order-style .order-cards .order-card .order-footer .order-prices {
  display: flex;
  align-items: center;
  gap: 40px;
}
.prodact .order .order-style .order-cards .order-card .order-footer .order-prices .order-price1 {
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.prodact .order .order-style .order-cards .order-card .order-footer .order-prices .order-price2 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.prodact .shop {
  margin-bottom: 80px;
}
.prodact .shop .shop-style {
  margin-bottom: 64px;
}
.prodact .shop .shop-style .shop-text {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 34px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 32px;
  letter-spacing: 0.25px;
}
.prodact .shop .shop-style .shop-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 17px;
}
.prodact .shop .categori-style .categori-text {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 34px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 32px;
  letter-spacing: 0.25px;
}
.prodact .shop .categori-style .categori-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 17px;
}
.prodact .shop .categori-style .categori-cards img {
  max-width: 207px;
}

@media (max-width: 1150px) {
  .hero .hero-contents {
    flex-wrap: wrap;
  }
}
@media (max-width: 730px) {
  .order .order-card {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .hero .hero-content input {
    width: 400px !important;
  }
  .hero .hero-content button {
    width: 400px !important;
  }
  .hero .hero-images {
    gap: 5px !important;
  }
  .hero .hero-images img {
    max-width: 160px !important;
  }
  .hero .hero-prices {
    max-width: 400px;
  }
  .order-text2 {
    font-size: 20px !important;
  }
}
@media (max-width: 440px) {
  .hero-content input {
    max-width: 300px !important;
  }
  .hero-content button {
    max-width: 300px !important;
  }
  .hero-prices {
    max-width: 300px !important;
  }
  .hero-prices .hero-price {
    flex-wrap: wrap;
  }
  .order-footer {
    flex-wrap: wrap;
  }
  .order-footer .order-prices {
    gap: 5px !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter-Regular.ttf);
}
.register {
  font-family: Montserrat, sans-serif;
  background-color: #fafafa;
  padding: 56px 0 64px;
}
.register .container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1190px;
}
.register a {
  text-decoration: none;
}
.register input {
  outline: none;
}
.register button {
  border: none;
}
.register ul {
  list-style: none;
}
.register h1 {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
  margin-bottom: 48px;
}
.register .hero {
  display: flex;
  align-items: center;
  gap: 30px;
}
.register .hero form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.register .hero form label {
  color: #000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.register .hero form input {
  width: 100%;
  padding: 14px 24px;
  border-radius: 4px;
  border: 1px solid #dbdee7;
}
.register .hero form ::-moz-placeholder {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
.register .hero form ::placeholder {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
.register .hero form button {
  color: var(--Black, #0d0d0d);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 170% */
  border-radius: 6px;
  background: var(--Yellow, #ffc000);
  width: 250px;
  height: 50px;
  flex-shrink: 0;
  cursor: pointer;
}
.register .hero form .parol {
  background: url(../../images/iye\ icon.svg);
  background-repeat: no-repeat;
  background-position: right 16px top 11px;
}
@media (max-width: 1000px) {
  .register .hero {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 650px) {
  .register .hero img {
    width: 320px;
  }
  .register .hero form button {
    width: 100%;
  }
}

.categories h1 {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 1500;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  padding-bottom: 24px;
  padding-top: 64px;
}
.categories .big-card {
  display: flex;
  gap: 30px;
  padding-bottom: 54px;
}
.categories .big-card .card {
  width: 264px;
  height: 272px;
  flex-shrink: 0;
  border-radius: 8px;
}
.categories .big-card .card p {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 32.5px */
  letter-spacing: 0.5px;
  padding-top: 26px;
  text-align: center;
}
.categories .big-card-3 {
  padding-top: 50px;
}
@media (max-width: 1440px) {
  .categories .big-card {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 976px) {
  .categories .big-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .categories .big-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .categories .big-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.commodity h1 {
  color: cadetblue;
}

.gotoprodact {
  background: #fafafa;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gotoprodact .containe {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 147px;
}
.gotoprodact .a2 {
  display: flex;
  gap: 15px;
  margin-top: 24px;
}
.gotoprodact .a3 h1 {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
}
.gotoprodact .a3 p {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
  margin-top: 16px;
  max-width: 558px;
}
.gotoprodact .a3 h2 {
  color: rgba(0, 0, 0, 0.4);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.4px;
  margin-top: 4px;
  margin-bottom: 8px;
}
.gotoprodact .a3 .h3 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
  margin-top: 22px;
}
.gotoprodact .a3 button {
  display: block;
  color: var(--Black, #000);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  width: 362px;
  height: 40px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.05);
  border-style: none;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s linear;
}
.gotoprodact .a3 button:hover {
  background: #ffc000;
}
.gotoprodact .a3 h4 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  margin-top: 16px;
}
.gotoprodact .a4 {
  margin-top: 16px;
}
.gotoprodact .a4 span {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.1px;
  margin-left: 6px;
}
.gotoprodact .a8 {
  margin-left: -11px;
}
.gotoprodact .a5 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}
.gotoprodact .a5 p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #dbdee7;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gotoprodact .a6 {
  display: flex;
  align-items: center;
  gap: 53px;
  margin-top: 24px;
}
.gotoprodact .a7 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.gotoprodact .a {
  display: flex;
  gap: 128px;
  align-items: center;
  padding-top: 64px;
  justify-content: center;
}
.gotoprodact .b {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  margin-top: 64px;
}
.gotoprodact #b2 {
  width: 264px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 98px 0px rgba(0, 0, 0, 0.05);
}
.gotoprodact .b3 {
  margin-left: 12px;
}
.gotoprodact .b3 h1 {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-top: 7px;
  max-width: 235px;
}
.gotoprodact .b3 p {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.4px;
  margin-right: -15px;
  max-width: 240px;
}
.gotoprodact .b3 button {
  color: var(--Black, #000);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding: 8px 24px;
  border-radius: 6px;
  background: var(--Gold, #ffc000);
  border-style: none;
  cursor: pointer;
  margin-bottom: 16px;
}
.gotoprodact #b4 {
  display: flex;
  align-items: center;
  gap: 82px;
}
.gotoprodact #b4 p {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 14px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.gotoprodact #b1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 32px;
}
.gotoprodact #c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gotoprodact #c1 h1 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 32.5px */
  letter-spacing: 0.5px;
  margin-top: 26px;
}
.gotoprodact #c {
  padding-bottom: 64px;
  margin-top: 48px;
}
.gotoprodact .d h1 {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  margin-top: 64px;
}
.gotoprodact .contain {
  max-width: 1186px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .gotoprodact .a {
    flex-wrap: wrap;
    justify-content: center;
  }
  .gotoprodact #b1 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .gotoprodact .z {
    width: 320px;
  }
  .gotoprodact .a2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .gotoprodact .a6 {
    flex-wrap: wrap;
  }
}
@media (max-width: 390px) {
  .gotoprodact .a3 button {
    width: 300px;
  }
  .gotoprodact .b h1 {
    margin-left: -120px;
  }
}

.payment {
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
  background: #fafafa;
}
.payment .payment-contents {
  padding-bottom: 64px;
}
.payment .payment-contents .main-payment {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment .payment-contents .main-payment .pay-texts {
  display: flex;
  flex-direction: column;
  width: 460px;
  gap: 32px;
}
.payment .payment-contents .main-payment .pay-texts .label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment .payment-contents .main-payment .pay-texts label {
  color: #0a0a0a;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.payment .payment-contents .main-payment .pay-texts input {
  width: 100%;
  outline: none;
  padding: 19px 0 19px 16px;
  border: none;
  background: #f1f1f1;
}
.payment .payment-contents .main-payment .pay-texts input::-moz-placeholder {
  color: #0a0a0a;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.payment .payment-contents .main-payment .pay-texts input::placeholder {
  color: #0a0a0a;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.payment .payment-contents .main-payment .pay-texts #date::-moz-placeholder {
  color: rgba(10, 10, 10, 0.3764705882);
  font-weight: 500;
  font-family: "Roboto Slab";
}
.payment .payment-contents .main-payment .pay-texts #date::placeholder {
  color: rgba(10, 10, 10, 0.3764705882);
  font-weight: 500;
  font-family: "Roboto Slab";
}
.payment .payment-contents .main-payment .pay-texts button {
  color: var(--Black, #0d0d0d);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding: 20px 0 20px;
  background: #ffc000;
  border: none;
}
.payment .payment-contents h2 {
  color: #000;
  text-align: center;
  font-family: "Montserrat";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
  margin: 0 auto;
  padding: 64px 0 40px;
}
@media (max-width: 870px) {
  .payment .payment-contents .main-payment {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .payment .payment-contents .pay-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .payment .payment-contents .pay-texts {
    margin: 0 auto;
  }
}
@media (max-width: 485px) {
  .payment .payment-contents .pay-texts {
    width: 370px !important;
  }
  .payment .payment-contents .pay-img {
    display: none;
  }
}
@media (max-width: 400px) {
  .payment .payment-contents #date::-moz-placeholder {
    display: none;
  }
  .payment .payment-contents #date::placeholder {
    display: none;
  }
  .payment .payment-contents #date:placeholder::after {
    content: "Cрок хранения";
  }
  .payment .payment-contents .payment-contents {
    display: flex;
    flex-direction: column;
    gap: 16px !important;
    padding: 24px 28px 32px 24px !important;
  }
  .payment .payment-contents .pay-img {
    display: none;
  }
  .payment .payment-contents .pay-texts {
    gap: 16px !important;
    width: 320px !important;
  }
  .payment .payment-contents h2 {
    padding-top: 24px !important;
    display: flex;
    justify-content: start;
    padding-bottom: 16px !important;
  }
  .payment .payment-contents input::-moz-placeholder {
    color: rgba(10, 10, 10, 0.3764705882) !important;
  }
  .payment .payment-contents input::placeholder {
    color: rgba(10, 10, 10, 0.3764705882) !important;
  }
  .payment .payment-contents .label label {
    display: none;
  }
}

.order .hero {
  background: #fafafa;
  padding-top: 32px;
  padding-bottom: 64px;
}
.order .hero h1 {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
  margin-bottom: 32px;
}
.order .hero .card {
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.order .hero .card .element {
  width: 250px;
  height: 250px;
  background: #ccc;
}
.order .hero .card .text {
  display: flex;
  flex-direction: column;
}
.order .hero .card .text h2 {
  color: #040921;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order .hero .card .text img {
  width: 100px;
  margin-top: 43px;
  margin-bottom: 8px;
}
.order .hero .card .text p {
  max-width: 754px;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-bottom: 35px;
}
.order .hero .card .text .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order .hero .card .text .bottom .narx {
  display: flex;
  align-items: center;
  gap: 40px;
}
.order .hero .card .text .bottom .narx h3 {
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
}
.order .hero .card .text .bottom .narx h3 span {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin-left: 16px;
}
.order .hero .card .text .bottom .added {
  display: flex;
  align-items: center;
}
.order .hero .card .text .bottom .added h5 {
  color: #fff;
  background: var(--Yellow, #ffc000);
  font-size: 20px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.order .hero .card .text .bottom .added h4 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: 0.15px;
  width: 93px;
  height: 37px;
  background: var(--Gray-6, #f2f2f2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.order .hero .button {
  display: flex;
  justify-content: flex-end;
  margin-top: 28px;
  margin-bottom: 32px;
}
.order .hero .button button {
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding: 18px 110px;
  background: var(--Yellow, #ffc000);
  border: none;
}
.order .hero .red {
  background: #ff5959;
  padding: 13px;
  display: flex;
  justify-content: center;
}
.order .hero .red h3 {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 900px) {
  .order .card {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .order .card .text .bottom {
    flex-direction: column;
    gap: 30px;
  }
  .order .button button {
    padding: 18px 0 !important;
    width: 100%;
  }
}

.tocomein h1 {
  font-size: 90px;
}

footer {
  padding: 46px 0;
}
footer ul {
  list-style: none;
}
footer a {
  text-decoration: none;
}
footer button {
  border: none;
}
footer .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
footer .footer .card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer .card h4 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
footer .footer .card p {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  max-width: 265px;
}
footer .footer .card img {
  width: 96px;
  height: 96px;
}
footer .footer .card a {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
}
footer .footer .card li {
  margin-bottom: 10px;
}
@media (max-width: 400px) {
  footer .footer {
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
header {
  font-family: Montserrat, sans-serif;
  position: relative;
}
header .container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1190px;
}
header a {
  text-decoration: none;
}
header input {
  outline: none;
}
header button {
  border: none;
}
header ul {
  list-style: none;
}
header .top-header {
  padding: 13px 0;
  background: var(--Black, #0d0d0d);
}
header .top-header .language a:nth-child(1) {
  color: var(--White, #fff);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
header .top-header .language a:nth-child(2) {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 8px;
}
header .bottom-header {
  position: sticky;
  top: 0;
}
header .bottom-header .navbar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  transition: all 0.5s linear;
}
header .bottom-header .navbar .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1100px;
  width: 100%;
  /* MEDIA QUERIES */
}
header .bottom-header .navbar .logo .sm-logo {
  display: none;
}
header .bottom-header .navbar .logo a h1 {
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.4px;
}
header .bottom-header .navbar .logo .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
}
header .bottom-header .navbar .logo .nav-link ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .bottom-header .navbar .logo .nav-link ul li a {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}
header .bottom-header .navbar .logo .nav-link .buttons {
  display: flex;
  gap: 15px;
}
header .bottom-header .navbar .logo .nav-link .buttons a:nth-child(1) {
  color: #0d0d0d;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  border-radius: 4px;
  background: var(--black-5, rgba(0, 0, 0, 0.05));
  display: inline-flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .bottom-header .navbar .logo .nav-link .buttons a:nth-child(2) {
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  border-radius: 4px;
  background: var(--Yellow, #ffc000);
  display: inline-flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .bottom-header .navbar .logo #navbar-responsive.open {
  right: 0;
}
header .bottom-header .navbar .logo .menu-btn {
  border: 0;
  background: #fff;
  cursor: pointer;
  display: none;
}
@media (max-width: 1120px) {
  header .bottom-header .navbar .logo .nav-link {
    width: 670px;
  }
}
@media (max-width: 900px) {
  header .bottom-header .navbar .logo .nav-link {
    flex-direction: column;
    gap: 40px;
  }
  header .bottom-header .navbar .logo .nav-link ul {
    flex-direction: column;
  }
  header .bottom-header .navbar .logo .nav-link .buttons {
    flex-direction: column;
  }
  header .bottom-header .navbar .logo #navbar-responsive {
    position: fixed;
    right: -100%;
    height: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    transition: all 0.5s linear;
  }
  header .bottom-header .navbar .logo .sm-logo {
    display: inline;
  }
  header .bottom-header .navbar .logo .lg-logo {
    display: none;
  }
  header .bottom-header .navbar .logo .menu-btn {
    display: flex;
  }
  header .bottom-header .navbar .logo .responsive {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
header .bottom-header #navbar-responsive {
  top: 120px;
}
header .bottom-header .navbar-shrink {
  padding: 6px 0;
}
header .bottom-header .navbar-shrink #navbar-responsive {
  top: 62px;
}
header .fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
}
header .fixed #navbar-responsive {
  top: 90px;
}

* button {
  cursor: pointer;
}

.prodact .hero-btn {
  width: 558px;
  height: 62px;
  flex-shrink: 0;
  background: #ffc000;
  color: #0d0d0d;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  border: none;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */