.basket {
  background: #fafafa;

  .basket-contents {
    padding: 32px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .basket-texts {
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-content: start;
      align-items: start;
      width: 550px;
      h1 {
        color: #000;
        font-family: "Montserrat";
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: 140%;
      }
      button {
        color: var(--Black, #0d0d0d);
        font-family: "Montserrat";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-transform: uppercase;
        padding: 20px 24px;
        background: #ffc000;
        border: none;
      }
      p {
        font-size: 14px;
      }
    }
    @media (max-width: 870px) {
      display: flex;
      flex-direction: column-reverse !important;
    }
    @media (max-width: 580px) {
      .basket-contents {
        display: flex;
        gap: 32px;
      }
      .basket-img {
        width: 360px !important;
        img {
          width: 100%;
        }
        .basket-texts {
          display: flex;
          flex-direction: column;
          align-items: center !important;
          justify-content: center !important;
          margin: 0 auto !important;
        }
      }
    }
  }
}
