.gotoprodact {
  background: #fafafa;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .containe {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 147px;
  }
  .a2 {
    display: flex;
    gap: 15px;
    margin-top: 24px;
  }
  .a3 {
    h1 {
      color: var(--Black, #000);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 47.6px */
      letter-spacing: 0.25px;
    }
    p {
      color: var(--Black, #000);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.44px;
      margin-top: 16px;
      max-width: 558px;
    }
    h2 {
      color: rgba(0, 0, 0, 0.4);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 16.8px */
      letter-spacing: 0.4px;
      margin-top: 4px;
      margin-bottom: 8px;
    }
    .h3 {
      color: #000;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.44px;
      margin-top: 22px;
    }
    button {
      display: block;
      color: var(--Black, #000);
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 19.6px */
      letter-spacing: 0.75px;
      text-transform: uppercase;
      width: 362px;
      height: 40px;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.05);
      border-style: none;
      margin-top: 20px;
      cursor: pointer;
      transition: 0.4s linear;
    }
    button:hover {
      background: #ffc000;
    }
    h4 {
      color: #000;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 33.6px */
      margin-top: 16px;
    }
  }
  .a4 {
    margin-top: 16px;
    span {
      color: #000;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
      letter-spacing: 0.1px;
      margin-left: 6px;
    }
  }
  .a8 {
    margin-left: -11px;
  }
  .a5 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    p {
      color: #000;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
      border-radius: 6px;
      border: 1px solid #dbdee7;
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .a6 {
    display: flex;
    align-items: center;
    gap: 53px;
    margin-top: 24px;
  }
  .a7 {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .a {
    display: flex;
    gap: 128px;
    align-items: center;
    padding-top: 64px;
    justify-content: center;
  }
  .b {
    color: #000;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 47.6px */
    letter-spacing: 0.25px;
    margin-top: 64px;
  }
  #b2 {
    width: 264px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 0px 98px 0px rgba(0, 0, 0, 0.05);
  }
  .b3 {
    margin-left: 12px;
    h1 {
      color: var(--Black, #000);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 19.6px */
      letter-spacing: 0.75px;
      text-transform: uppercase;
      margin-top: 7px;
      max-width: 235px;
    }
    p {
      color: var(--Black, #000);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 16.8px */
      letter-spacing: 0.4px;
      margin-right: -15px;
      max-width: 240px;
    }
    button {
      color: var(--Black, #000);
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 19.6px */
      letter-spacing: 0.75px;
      text-transform: uppercase;
      padding: 8px 24px;
      border-radius: 6px;
      background: var(--Gold, #ffc000);
      border-style: none;
      cursor: pointer;
      margin-bottom: 16px;
    }
  }
  #b4 {
    display: flex;
    align-items: center;
    gap: 82px;
    p {
      color: var(--Black, #000);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 14px */
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
  }
  #b1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 32px;
  }
  #c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: #000;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 32.5px */
      letter-spacing: 0.5px;
      margin-top: 26px;
    }
  }
  #c {
    padding-bottom: 64px;
    margin-top: 48px;
  }
  .d {
    h1 {
      color: #000;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 47.6px */
      letter-spacing: 0.25px;
      margin-top: 64px;
    }
  }
  .contain {
    max-width: 1186px;
    padding: 0 20px;
    margin: 0 auto;
  }
  @media (max-width: 1170px) {
    .a {
      flex-wrap: wrap;
      justify-content: center;
    }
    #b1 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media (max-width: 500px) {
    .z {
      width: 320px;
    }
    .a2 {
      flex-wrap: wrap;
      justify-content: center;
    }
    .a6 {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 390px) {
    .a3 {
      button {
        width: 300px;
      }
    }
    .b h1 {
      margin-left: -120px;
    }
  }
}
