.tocomein {
  // shu yerdan claslar va responsivlikni yozasiz

.vxod{
  color: #000;
text-align: center;
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 47.6px */
letter-spacing: 0.25px;
padding-top: 56px;
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding-top: 131px;
  margin-left: -110px;
  
  form{
    margin-top: -150px;
    :first-child{
      width: 555px;
height: 60px;
flex-shrink: 0;
outline: none;
stroke-width: 1px;
border: 1px solid #dbdee7;


    }
    p{
      padding-top: 16px;
      color: #000;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
    }
    :last-child{
      width: 555px;
height: 60px;
outline: none;
border: 1px solid #dbdee7;

    }
  }
  button{
    margin-top: 157px;
    margin-left: -595px;
    width: 262px;
height: 60px;
flex-shrink: 0;
border-radius: 6px;
background: var(--Yellow, #FFC000);
border: none;
transition: 0.3s;

p{
  width: 236.282px;
  color: var(--Black, #0D0D0D);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 34px; /* 170% */
}
&:hover{
  background:#ffe189;
}
  }
}



// responsive 

@media (max-width: 1440px) {
  // lg
 
}

@media (max-width: 976px) {
  // md
  .vxod{
    text-align: center;
  }
  .card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 150px;
  }
  .card-input{
    padding-top: 150px;
    position: relative;
    top: 150px;
  }
  form{
    margin-right:- 100px;
    
    input{
      width: 100%;
    }
  }
  button{
    position: relative;
    left: 200px;
  }


}

@media (max-width: 768px) {
  // sm
  .vxod{
    text-align: center;
  }
  .card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 150px;
  }
  .card-input{
    margin-top: 150px;
  }
  form{
    margin-top: 150px;
    margin-right: -100px;

    
    input{
      width: 100%;
    }
  }
  button{
    position: relative;
    left: 200px;
  }

}

@media (max-width: 480px) {
  // xs
  .vxod{
    text-align: center;
  }
  .card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 150px;
  }
  form{
    margin-right: -200px;
    input{
      width: 100%;
    }
  }

  .card-input{
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  form{

    
    input{
      width: 100%;
    }
  }
  button{
    position: relative;
    left: 300px;
  }
 


}






  
}
